# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
*.cover
.coverage.*
.cache/
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables files
.env
.env.*

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database files
*.sqlite3

# Sphinx documentation
docs/_build/

# PyInstaller
*.spec

# Misc
*.bak
*.swp
.venv
.terraform/
*.tfstate
*.tfstate.backup
sqs_queues/.terraform/
.terraform.lock.hcl/
.tfplan/
sqs_queues/.terraform/providers/


